.footer-basic {
  padding: 10px 0;
  background: linear-gradient(35deg, #000000 0%, #E1AD01 100%);
  color: #fff;
}

.footer-basic .social {
  text-align: center;
  padding-bottom: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
}
.footer-text{
  font-weight: bold;
}

.footer-basic .social a {
  font-size: 20px;
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  border: 1px solid #ccc;
  margin: 0 8px;
  color: inherit;
}

.footer-basic .footer-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}

.footer-basic .footer-logo {
  text-align: center;
  margin-bottom: 20px;
}

.footer-basic .footer-logo img {
  max-width: 50px;
  border-radius: 50%;
  margin-top: -5%;
}

.footer-basic .footer-links,
.footer-basic .footer-contact {
  margin-bottom: 20px;
  font-weight: bold;
  text-align: center;
}
.footer-links{
  margin-right: 5%;
}

.footer-basic .footer-links ul,
.footer-basic .footer-contact ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.footer-basic a {
  color: #fff; /* Met les liens en blanc */
  text-decoration: none; /* Enlève les traits sous les liens */
 
}

.footer-basic a:hover {
  color: #aaa; /* Change la couleur au survol si nécessaire */
}

.footer-basic .footer-contact {
  text-align: left; /* Aligne le texte à gauche */
  margin-right:5%;
  margin-bottom: 3%;

}
.footer-contact h3{
   margin-left: 3%;
   font-size: 1.7em;
   text-align: center;
   font-family: italic;
   color: #fff;
  text-shadow: 1px 1px 3px rgba(255, 215, 0, 0.6); /* Ombre de texte jaune */
  opacity: 0.9;
}
.footer-links h3{
  font-size: 1.7em;
  font-family: italic;
  color: #fff;
  text-shadow: 1px 1px 3px rgba(255, 215, 0, 0.8); /* Ombre de texte jaune */
  opacity: 0.85;

}
.footer-basic .footer-links li,
.footer-basic .footer-contact li {
  margin: 3px 0;
  margin-bottom:2%;
}

.footer-basic .copyright {
  margin-top: 10px;
  text-align: center;
  font-size: 16px;
  color: white;
}


/* Pour les tablettes et les téléphones (max-width: 768px) */
@media (max-width: 768px) {
  .footer-basic .footer-content {
    flex-direction: column;
    align-items: center;
  }

  .footer-basic .footer-contact,
  .footer-basic .footer-links {
    text-align: center;
    margin-bottom: 15px; /* Légère marge entre les sections */
  }

  .footer-basic .social {
    margin-top: 5px;
  }
  .footer-logo{
    margin-top: 3%;
  }
}

/* Media Query pour les grandes tablettes */
@media (min-width: 768px) and (max-width: 1024px) {
  .footer-basic .footer-content {
    flex-direction: column; /* Empile les sections verticalement */
    align-items: center;
    padding: 10px 0; /* Réduit le padding pour minimiser l'espace */
  }

  .footer-basic .footer-logo,
  .footer-basic .footer-links,
  .footer-basic .footer-contact {
    margin-bottom: 10px; /* Réduit l'espace entre les sections */
  }

  .footer-basic .social {
    margin-top: 5px; /* Réduit l'espace en haut des icônes sociales */
  }
}